/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}

.bg-body{
  background: linear-gradient(190deg, black, #9009bc, gray) !important;
}

/* Input fields style */
input {
  transition: all 0.3s ease;
}

/* Style when input is focused */
input:focus {
  border-color: 5px solid #9009bc;
  box-shadow: 0 0 10px #9009bc; 
  outline: none; 
}

.bg-bl{
  background: #2F539B;
}

